@import url("css.css");
.br {
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
} //text border
.br2 {
    width: 70px;
    height: 20px;
    text-align: center;
    outline: none;
    border: none;
    background: none;
} //room
.br3 {
    width: 20px;
    height: 32px;
    float: left;
    margin-left: 6px;
    line-height: 32px;
    display: none;
    font-family: 'iconfont';
}

.br4 {
    float: left;
    margin-left: 30px;
    margin-top: 10px;
} //.ck2.ck3.ck4.ck5
.top {
    width: 100%;
    height: 68px;
    background: #FFF;
    border-bottom: 1px solid #cbcaca;
    box-shadow: 1px 1px 2px 2px #e9e9e9;
    .nav {
        width: 1200px;
        height: 68px;
        margin: 0 auto;
        .logo {
            width: 125px;
            height: 68px;
            float: left;
            background: url("../images/logo.png") no-repeat;
            background-position: 0;
        }
        .select1 {
            width: 45px;
            height: 68px;
            margin: 0 0 0 22px;
            float: left;
            line-height: 68px;
            position: relative;
            cursor: pointer;
            .nj {
                float: left;
            }
            .icons {
                float: left;
                margin-top: 2px;
                color: #f1b17b;
                float: right;
            }
            .city {
                width: 130px;
                height: 60px;
                background: #fff;
                position: absolute;
                padding: 10px;
                left: 0;
                top: 60px;
                line-height: 30px;
                @extend .br;
                display: none;
            }
        }
        .nav-left {
            width: 425px;
            height: 23px;
            float: left;
            margin: 25px 0 0 25px;
            a {
                display: block;
                margin-left: 44px;
                float: left;
                font-size: 16px;
            }
        }
        .nav-right {
            width: 230px;
            height: 19px;
            float: right;
            margin-top: 29px;
            a {
                display: block;
                float: left;
                color: #333333;
            }
            .a2 {
                width: 78px;
                height: 19px;
                text-align: center;
                margin: 0 10px;
                border-left: 1px solid #d2d2d2;
                border-right: 1px solid #d2d2d2;
            }
            .a3 {
                width: 70px;
                height: 19px;
                float: right;
                .icons1 {
                    width: 10px;
                    height: 19px;
                    font-family: 'iconfont';
                    color: #ef8f3e;
                }
            }
        }
    }
}

.con {
    width: 1200px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

.site {
    width: 295px;
    height: 52px;
    color: #666666;
    line-height: 52px;
}

.left {
    width: 256px;
    height: 380px;
    border: 1px solid #dddddd;
    border-top: none;
    float: left;
    .manage {
        width: 256px;
        height: 145px;
    }
    .collect {
        width: 256px;
        height: 114px;
    }
    .publish {
        width: 256px;
        height: 114px;
    }
    .tit {
        width: 228px;
        height: 34px;
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        background: #f7f7f7;
        padding-left: 28px;
        span {
            font-weight: bold;
            line-height: 34px;
        }
    }
    a {
        margin-top: 15px;
        display: block;
    }
    .content1 {
        width: 228px;
        height: 110px;
        padding-left: 28px;
    }
    .content2 {
        width: 228px;
        height: 80px;
        padding-left: 28px;
    }
    .content3 {
        width: 228px;
        height: 85px;
        padding-left: 28px;
    }
}

.right {
    width: 785px;
    height: auto;
    float: left;
    margin-left: 20px;
    .Info {
        width: 782px;
        height: 36px;
        background: url("../images/nav.png") no-repeat;
        .info-font {
            width: 250px;
            height: 36px;
            float: left;
            text-align: center;
        }
        p {
            line-height: 36px;
            color: #fff;
        }
        .info-font2 {
            width: 230px;
            height: 36px;
            float: left;
            text-align: center;
            margin-left: 25px;
            margin-right: 25px;
        }
        span {
            line-height: 36px;
        }
    }
    .Info-con {
        width: 620px;
        height: auto;
        padding: 34px 0 108px 85px;
        .select {
            width: 538px;
            height: auto;
        }
        .name {
            width: 538px;
            height: 32px;
            position: relative;
        }
        .icons3 {
            @extend .br3;
            color: #69b338;
        }
        .icons4 {
            @extend .br3;
            color: red;
        }
        .span1 {
            color: #ff0000;
            float: left;
            line-height: 32px;
        }
        p {
            line-height: 32px;
            float: left;
        }
        span {
            display: block;
            float: right;
        }
        .inpwk {
            width: 420px;
            height: 30px;
            line-height: 30px;
            float: left;
            @extend .br;
            .inp {
                width: 410px;
                height: 20px;
                background: none;
                outline: none;
                border: none;
            }
        }
        .search{
            width: 100px;
            height: 30px;
            margin-left: 80px;
            background: red;
            position: absolute;
            left:0;
            top:30px;
        }
        .find {
            margin-top: 10px;
            margin-left: 77px;
            color: #ec6c00;
            font-size: 16px;
        }
        .map {
            width: 430px;
            margin-left: 70px;
            height: auto;
            display: none;
            background: red;
            #allmap {
                width: 100%;
                height: 300px;
                overflow: hidden;
                margin: 0
            }
        }
        .plate {
            width: 538px;
            height: 32px;
            margin-top: 10px;
        }
        #area {
            width: 200px;
            height: 30px;
            float: left;
            color: #999999;
            font-size: 13px;
            @extend .br;
        }
        #ban {
            width: 200px;
            height: 30px;
            float: left;
            margin-left: 18px;
            color: #999999;
            font-size: 13px;
            @extend .br;
        }
        .house {
            width: 505px;
            height: 30px;
            margin-left: 28px;
            margin-top: 30px;
        }
        .house2 {
            width: 505px;
            height: 30px;
            margin-left: 28px;
            margin-top: 30px;
        }
        .money {
            width: 505px;
            height: 30px;
            margin-left: 28px;
            margin-top: 30px;
        }
        .require {
            width: 73px;
            height: 30px;
            float: left;
            @extend .br;
            line-height: 30px;
            text-align: center;
            .room1 {
                @extend .br2;
            }
            .room2 {
                @extend .br2;
            }
            .room3 {
                @extend .br2;
            }
            .room4 {
                @extend .br2;
            }
        }
        .span2 {
            color: #666666;
            float: left;
            font-size: 16px;
            line-height: 32px;
            margin-left: 5px;
            margin-right: 5px;
        }
        .span3 {
            color: #666666;
            float: left;
            line-height: 32px;
            font-size: 13px;
        }
        .function {
            width: 538px;
            height: 32px;
            margin-top: 30px;
            line-height: 32px;
            .box {
                width: 155px;
                height: 30px;
                float: left;
                .ra1 {
                    float: left;
                    margin-top: 8px;
                }
                .ra2 {
                    float: left;
                    margin-top: 8px;
                    margin-left: 60px;
                }
            }
            #select-con {
                width: 119px;
                height: 30px;
                float: left;
                @extend .br;
                color: #999999;
                font-size: 13px;
                margin-left: 7px;
            }
            #select-option {
                width: 119px;
                height: 30px;
                @extend .br;
                float: left;
                color: #999999;
                font-size: 13px;
                margin-left: 18px;
            }
        }
        .inp2 {
            width: 360px;
            height: 20px;
            float: left;
            margin-top: 5px;
            background: none;
            outline: none;
            border: none;
        }
        .inp3 {
            width: 360px;
            height: 20px;
            float: left;
            margin-top: 5px;
            background: none;
            outline: none;
            border: none;
        }
        .pay {
            width: 538px;
            height: 32px;
            margin-top: 30px;
        }
        .ck1 {
            float: left;
            margin-top: 10px;
        }
        .ck2 {
            @extend .br4;
        }
        .ck3 {
            @extend .br4;
        }
        .ck4 {
            @extend .br4;
        }
        .ck5 {
            @extend .br4;
        }
        .picture{
            width: 300px;
            height: 35px;
            margin-top: 20px;
            position: relative;
        }
        .file{
            width: 150px;
            height: 20px;
            border: 1px dashed #CCC;
            background: #f2f2f2;
            line-height: 20px;
            float: left;
            margin-top: 5px;
            text-align: center;
            position: relative;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px;
            color: #CCC;
            .yourfile{
                width: 100px;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
            }
        }
        .pic-wk{
            position: relative;
           display: none;
        .picshow{
            width: 200px;
            height: 100px;
            margin-left: 80px;
             background: red;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .closed{
                width: 14px;
                height: 14px;
                background: #ccc;
                text-align: center;
                line-height: 14px;
                position: absolute;
               left: 265px;
                top: 0;
              -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                -o-border-radius:5px;
            border-radius: 5px;
            }
              }
        .phone {
            width: 538px;
            height: 32px;
            margin-top: 30px;
            .inpho {
                width: 200px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                float: left;
                @extend .br;
                .inpp {
                    width: 190px;
                    height: 20px;
                    background: none;
                    outline: none;
                    border: none;
                }
            }
            .yanzheng {
                color: red;
                float: left;
                margin-top: 5px;
            }
            .yanzheng.h {
                color: blue;
            }
        }
                textarea {
            width: 420px;
            height: 80px;
            margin-top: 30px;
            margin-left: 77px;
            font-size: 16px;
            @extend .br;
        }
        .submit {
            width: 140px;
            height: 38px;
            background: #ec6c00;
            border-color: #df6804;
            color: #fff;
            font-size: 16px;
            margin: 35px auto auto 85px;
        }
    }
}

.bottom {
    width: 100%;
    height: 118px;
    background: #333333;
    .bottom-con {
        width: 1200px;
        height: 118px;
        margin: 0 auto;
    }
    .bleft {
        width: 445px;
        height: 65px;
        margin-top: 28px;
        float: left;
        a {
            font-size: 12px;
            color: #999999;
        }
        span {
            display: block;
            margin-top: 6px;
            font-size: 12px;
            color: #999999;
        }
        .gan {
            width: 18px;
            height: 18px;
            background: url("../images/logo.png") no-repeat;
            background-position: -296px 0;
            float: left;
            margin-top: 6px;
        }
    }
    .bright {
        width: 120px;
        height: 65px;
        margin-top: 28px;
        float: right;
        background: url("../images/logo.png") no-repeat;
        background-position: -325px 0;
    }
}